- page = params[:page].to_i
- from = page * 1000
- to = (page + 1) * 1000

.row
  %h1
    Welcome #{current_user.name}
    = image_tag('facebook_32.png')

.column
  %h2 Connections (Edges)
  %p
    Back to
    = link_to 'Friends (Nodes)', services_facebook_path
  %p
    = link_to '<==', services_facebook_edges_path(page: page-1) if page > 0
    = link_to '==>', services_facebook_edges_path(page: page+1) if @facebook_profile.edges.count > (page+1)*1000
  %table
    %tbody
      %tr
        %th #
        %th UID1
        %th UID2
      - @facebook_profile.edges[from...to].each_with_index do |edge,i|
        %tr
          %td #{i+from}.
          %td=edge['uid1']
          %td=edge['uid2']
