%h1
  Welcome #{current_user.name}
  = image_tag('linked_in_32.png')

.span-12
  %h2 Personal Details

  %table
    - LinkedinProfile::PERSONAL_FIELDS.each do |field|
      %tr
        %td= field.titleize
        %td= @linkedin_profile.send(field.underscore) if @linkedin_profile.respond_to?(field.underscore)
    %tr
      %td Completeness of Profile
      %td #{@linkedin_profile.completeness}%

.span-12
  %h2 Social Details

  %table
    - LinkedinProfile::SOCIAL_FIELDS.each do |field|
      %tr
        %td= field.titleize
        %td= @linkedin_profile.send(field.underscore) if @linkedin_profile.respond_to?(field.underscore)


.span-12
  %h2 Professional Details

  Stay tuned :-)

.span-12
  %h2 Connections' Details

  Stay tuned :-)
