.row-fluid

  %h1= @query.nil? ? 'Users' : 'Search Results'

  - if @query.present? && @query.errors.present?
    %b= @query.errors
  - else

    = will_paginate @users unless @query.present?

    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th _id (MongoDB)
          %th UID (Facebook)
          %th Picture
          %th Created At
      %tbody
        - @users.each do |user|
          %tr
            %td= user.name.blank? ? '&mdash;'.html_safe : user.name
            %td= link_to user.to_param, dashboard_user_path(user.to_param)
            %td= link_to user.uid, "http://facebook.com/#{user.uid}"
            %td= user.image.blank? ? '&mdash;'.html_safe : image_tag(user.image)
            %td= user.created_at

    = will_paginate @users unless @query.present?
