%h2 User Record

- fp = @user.facebook_profile


.pseudo-table-striped
  .row-fluid.pseudo-table-row
    .span2 Name
    .span2= fp.name
    .span2= image_tag fp.image
  .row-fluid.pseudo-table-row
    .span2 UID
    .span2= fp.uid
  .row-fluid.pseudo-table-row
    .span2 Joined on
    .span2= fp.joined_on || '&mdash;'.html_safe


%h2 Facebook Profile Record

%div
  .row-fluid.pseudo-table-header
    %b.span2 Field
    %b.span4 Value
.pseudo-table-striped
  .row-fluid.pseudo-table-row
    .span2 Profile Maturity
    .span2= fp.profile_maturity || '&mdash;'.html_safe
    .span4
      .red-green-bar
        %span
          0
        %span.pull-right
          100
      %div
        %span{style: "position: relative; left: #{fp.profile_maturity}%"}
          ^

  .row-fluid.pseudo-table-row
    .span2 Trust Score
    .span2= fp.trust_score || '&mdash;'.html_safe
    .span4
      .red-green-bar
        %span
          0
        %span.pull-right
          100
      %div
        %span{style: "position: relative; left: #{fp.trust_score}%"}
          ^

%h2 User info

.pseudo-table-striped
  .row-fluid.pseudo-table-row
    .span2 User Stat
    .span2= fp.user_stat || '&mdash;'.html_safe
  .row-fluid.pseudo-table-row
    .span2 User info
    .span2= fp.info || '&mdash;'.html_safe
  .row-fluid.pseudo-table-row
    .span2 Location
    .span2
      = gmaps(markers: { data: friend_location},
        circles: {data: default_circle, option:{fillColor:"#FF0000"}},
        map_options: { bounds: [{lat: 37, lng: -121}, {lat: 38, lng: -123}].to_json, auto_adjust: true })
