.row-fluid.full-height
  .span10.full-height
    #graph

  .span2
    #button-group
      = render 'labels', facebook_profile: current_facebook_profile if @has_graph
    #stats-group
      %h3 Stats
      Number of Friends: #{current_facebook_profile.facebook_profile_uids.length}
      %br
      Profile Completeness: #{current_facebook_profile.profile_completeness}
      %br
      Joined around #{current_facebook_profile.joined_on}
      %br
      Location: #{current_facebook_profile.about_me['location']['name']}
    #see-trust
      %button.btn.btn-info See your Score

:javascript
  window.facebook_profile_id_sha1 = '#{Digest::SHA1.hexdigest(current_facebook_profile.to_param)}';
  window.graph_ready = #{@has_graph};

#modal-spinner.modal.hide.fade{style: 'display:none;'}
  .modal-header
    %h2 Social Islands
    %h3 We're crunching the numbers...
  .modal-body
    %p
      - credits = 'Flickr Credits to "dotpolka", http://www.flickr.com/photos/dotpolka/95641638'
      = image_tag 'squirrel_crunching.jpg', alt: credits, title: credits
    .progress.progress-striped.active
      .bar{style: "width: 0%;"}
