#legend
  #button-group
    = render 'labels', facebook_profile: current_facebook_profile if @has_graph
  #stats-group
    %h3 Stats
    Number of Friends: #{current_facebook_profile.facebook_profile_uids.length}
    %br
    Profile Completeness: #{current_facebook_profile.profile_completeness}
    %br
    Joined around #{current_facebook_profile.joined_on}
    %br
    Location: #{current_facebook_profile.about_me['location'].try(:[],'name')}
  #see-trust
    %button.btn.btn-info See your Score

#graph


-# pics = ["https://fbcdn-photos-a.akamaihd.net/hphotos-ak-ash4/391447_10151964545175471_1036799696_s.jpg", "https://fbcdn-photos-a.akamaihd.net/hphotos-ak-snc7/376910_10150945411170216_935205936_s.jpg", "https://fbcdn-photos-a.akamaihd.net/hphotos-ak-snc7/376253_10151913251515471_1697154025_s.jpg", "https://fbcdn-photos-a.akamaihd.net/hphotos-ak-ash3/546266_10151569118820471_1566241588_s.jpg", "https://fbcdn-photos-a.akamaihd.net/hphotos-ak-ash4/423456_333796190005018_1190634626_s.jpg", "https://fbcdn-photos-a.akamaihd.net/hphotos-ak-snc6/208869_211641242181185_4355929_s.jpg", "https://fbcdn-photos-a.akamaihd.net/hphotos-ak-snc6/207522_211641222181187_7411174_s.jpg", "https://fbcdn-photos-a.akamaihd.net/hphotos-ak-snc6/189279_10150119617820889_6136151_s.jpg", "https://fbcdn-photos-a.akamaihd.net/hphotos-ak-ash4/200173_10150119617755889_684949_s.jpg", "https://fbcdn-photos-a.akamaihd.net/hphotos-ak-snc6/200669_10150119617705889_8034580_s.jpg", "https://fbcdn-photos-a.akamaihd.net/hphotos-ak-snc6/196865_10150119617660889_1963606_s.jpg", "https://fbcdn-photos-a.akamaihd.net/hphotos-ak-ash4/184363_10150119617300889_1959923_s.jpg", "https://fbcdn-photos-a.akamaihd.net/hphotos-ak-snc6/190577_10150119617015889_420886_s.jpg", "https://fbcdn-photos-a.akamaihd.net/hphotos-ak-snc6/196248_10150119616970889_969786_s.jpg", "https://fbcdn-photos-a.akamaihd.net/hphotos-ak-ash4/189561_10150119616860889_5120739_s.jpg", "https://fbcdn-photos-a.akamaihd.net/hphotos-ak-prn1/67442_10150319348675651_6838736_s.jpg", "https://fbcdn-photos-a.akamaihd.net/hphotos-ak-ash3/33912_10150268166360459_5270598_s.jpg", "https://fbcdn-photos-a.akamaihd.net/hphotos-ak-ash3/67200_10150268166340459_2925433_s.jpg", "https://fbcdn-photos-a.akamaihd.net/hphotos-ak-prn1/65947_10150268166330459_5551661_s.jpg", "https://fbcdn-photos-a.akamaihd.net/hphotos-ak-prn1/67011_10150268166290459_5521707_s.jpg", "https://fbcdn-photos-a.akamaihd.net/hphotos-ak-ash3/37952_10150268166265459_1499896_s.jpg", "https://fbcdn-photos-a.akamaihd.net/hphotos-ak-prn1/44959_10150268166235459_6401939_s.jpg", "https://fbcdn-photos-a.akamaihd.net/hphotos-ak-ash3/37175_10150268166210459_1329636_s.jpg", "https://fbcdn-photos-a.akamaihd.net/hphotos-ak-ash3/67494_10150268166165459_1258407_s.jpg", "https://fbcdn-photos-a.akamaihd.net/hphotos-ak-prn1/67761_10150268166140459_4111445_s.jpg"]
- pics = Dir[Rails.root.join(*%w(app assets images fb_photos *))].map {|f| 'fb_photos/' + Pathname.new(f).basename.to_s}

-#carousel.carousel.slide
-#  .carousel-inner
-#    - pics.each_with_index do |pic,i|
-#      .item{style: "width: 130px;"}
-#        = image_tag pic
  -#%a.carousel-control.left{'href' => '#carousel','data-slide' => 'prev'} &lsaquo;
  -#%a.carousel-control.right{'href' => '#carousel','data-slide' => 'next'} &rsaquo;

#carousel
  .banner
    - pics.each_with_index do |pic, i|
      .img-wrapper{class: i.zero? ? 'first' : nil}
        = image_tag pic

:javascript
  window.facebook_profile_id_sha1 = '#{Digest::SHA1.hexdigest(current_facebook_profile.to_param)}';
  window.graph_ready = #{@has_graph};

#modal-spinner.modal.hide.fade{style: 'display:none;'}
  .modal-header
    %h2 Social Islands
    %h3 We're crunching the numbers...
  .modal-body
    %p
      - credits = 'Flickr Credits to "dotpolka", http://www.flickr.com/photos/dotpolka/95641638'
      = image_tag 'squirrel_crunching.jpg', alt: credits, title: credits
    .progress.progress-striped.active
      .bar{style: "width: 0%;"}

#island-feed.row-fluid.overlay.slide-out
  %button.close &times
  .span9
    %p
      Island Feed here
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis nisl ut velit lobortis aliquet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut sit amet massa diam. Integer tristique sodales lacinia. Donec quis lacus mi, quis iaculis nisi. Cras convallis eros ac enim euismod non dictum sem auctor. Duis id erat velit. Praesent ultricies neque vitae elit laoreet dictum. Sed quis purus purus, quis lobortis justo. Maecenas pellentesque ullamcorper metus bibendum accumsan. Aenean tempus, mi fermentum auctor tristique, lorem arcu gravida urna, ut egestas urna sem bibendum mi. Maecenas luctus ante at neque euismod non lobortis tellus varius.
    %p
      Fusce id interdum nisl. Nulla dictum tellus ac mauris varius et mollis sem sagittis. Vestibulum semper, leo non feugiat malesuada, nunc dui consectetur sem, ac sagittis lectus metus quis est. In in lacus ante. Pellentesque egestas facilisis ante. Curabitur mi nibh, consectetur id pulvinar non, volutpat ac mi. Aenean congue justo vitae nunc iaculis varius ultricies justo accumsan. Curabitur ut erat sed nulla fringilla malesuada. Ut sagittis facilisis molestie.
    %p
      Praesent egestas leo nec nulla fringilla at consectetur augue posuere. Aliquam erat volutpat. Phasellus scelerisque, velit vitae ornare ultrices, velit ligula interdum tellus, non rutrum mi est posuere ipsum. Nam a ultrices nibh. Vivamus elementum nunc in erat suscipit facilisis. Vivamus congue ligula eget tortor elementum sit amet imperdiet neque lacinia. Quisque non leo diam. Praesent ut magna vel diam facilisis varius. Integer purus elit, aliquet ut tincidunt nec, commodo nec nisl. Quisque viverra semper sapien eu rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    %p
      Suspendisse vitae nibh erat. Aenean vestibulum porta egestas. Phasellus elementum ipsum eget dolor iaculis tincidunt. Aliquam ornare neque ante. Morbi urna augue, suscipit vel ullamcorper nec, elementum sed sem. Curabitur ullamcorper lacus vitae lacus suscipit lobortis. Nam eu sapien ligula, et lobortis ipsum. Aenean mollis mauris non arcu euismod fermentum.
    %p
      Vivamus convallis, metus at viverra auctor, enim tellus luctus dui, quis tempor erat purus et mi. Duis placerat condimentum auctor. Duis placerat arcu a erat faucibus mattis. Nulla tristique blandit velit, cursus mattis odio pulvinar dignissim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis eu turpis vitae nisl laoreet pulvinar a non felis. Aliquam vel felis metus. Proin arcu metus, pretium vel ullamcorper quis, scelerisque non ante.

#stats.row-fluid.overlay.slide-out
  %button.close &times
  .span9
    Stats here


