%h1 Run Score

= simple_form_for @user, url: scoring_create_path do |f|
  = f.error_notification
  = f.input :uid, label: 'Facebook UID'
  = f.input :token, label: 'Facebook user access token'
  = f.button :submit, 'Run Score', class: 'btn btn-primary'
