!!!
%html{lang: 'en'}

  %head
    %title
      = yield(:page_title) || default_page_title
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{name: 'keywords', content: yield(:keywords) || default_meta_keywords}
    %meta{name: 'description', content: yield(:description) || default_meta_description}
    %meta{name: 'author', content: 'Wolfram Arnold, Weidong Yang'}
    = favicon_link_tag
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application', 'sigma', 'http://app.eventsourcehq.com/es.js'
    = csrf_meta_tag
    = yield(:head)
    = render 'shared/google_analytics'

  %body
    = render 'shared/facebook_js_init'
    #alerts
      .alert.alert-info.fade.in#alert-info{style: 'display:none'}
      .alert.alert-error.fade.in#alert-error{style: 'display:none'}
      .alert.alert-success.fade.in#alert-success{style: 'display:none'}
    .navbar
      .navbar-inner
        .container-fluid
          %ul.nav
            %li
              = link_to 'Social Islands', root_path, class: 'brand'
            - if signed_in?
              %li
                = link_to 'Island Feed', '#', id: 'island-feed-link'
              %li
                = link_to 'Stats', '#', id: 'stats-link'

          %span.share-buttons.pull-right
            = link_to image_tag('facebook_32.png', title: 'Share on Facebook'), '#', id: 'share-on-facebook-button'
            -#= link_to image_tag('twitter_32.png', title: 'Share on Twitter'), '#'

          %ul.nav.pull-right
            %li
              = link_to 'About Us', '#'
            %li
              = link_to 'FAQ', faq_path
            %li
              = login_logout_links


    .container-fluid.full-height
      = yield
